body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background: -webkit-linear-gradient(left, #8ec08a, #13db77);
  background: linear-gradient(to right, #8ec08a, #13db77);
  margin: 2%;
  padding: 3% 15% 7%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #656565;
}

section {
  margin: 50px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 48px;
  color: #656565;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}

/* form design */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,400italic);

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container-home {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  position: relative;
}

#data-request-form button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#data-request-form {
  background: #033116;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#data-request-form legend {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #fff;
}

#data-request-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#data-request-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#data-request-form button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#data-request-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
